<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Tandon Geoguesser</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <meta name="description" content="A clean, responsive UI page template using Tailwind CSS." />
</head>
<body style="font-family: 'Comic Sans MS';" class="antialiased bg-gray-50 text-gray-800">
  <header>
    <section class="mt-12 mr-16 grid gap-2 grid-rows-2 items-center">
      <div class="flex flex-col items-end gap-2 text-2xl">
        <p class="text-gray-600">{{ username }}</p>
      </div>
      <div class="flex flex-col items-end gap-2 text-2xl">
        <p class="text-gray-600">Best Score: {{ best_score }}</p>
      </div>
    </section>
  </header>

  <main class="mt-12 mx-auto max-w-7xl">
    <section class="flex flex-row justify-center">
      <div class="text-center">
        <a href="TandonGeoguessrHome.html" class="text-6xl font-extrabold leading-tight">Tandon Geoguesser</a>
        <p class="mt-6 text-4xl font-semibold text-gray-600">Week of {{ date1 }} - {{ date2 }}</p>
      </div>
    </section>

    <section class="mt-24 mx-auto max-w-4xl grid grid-cols-2 items-center">
      <nav class="flex justify-center items-center gap-6 text-4xl">
        <a href="TandonGeoguessrPlay.html" class="px-8 py-4 rounded-md bg-violet-800 text-white hover:opacity-95 transition">Play Now!</a>
      </nav>
      <nav class="flex justify-center items-center gap-6 text-4xl">
        <a href="TandonGeoguessrLeaderboard.html" class="px-8 py-4 rounded-md bg-violet-800 text-white hover:opacity-95 transition">Leaderboard</a>
      </nav>
    </section>
  </main>
</body>
</html>
