<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Tandon Geoguesser</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body style="font-family: 'Comic Sans MS';" class="antialiased bg-gray-50 text-gray-800">
  <main class="mt-44 mx-auto max-w-7xl">

    <!-- Title -->
    <section class="flex flex-row justify-center items-center">
      <a href="{{ url_for('home') }}" class="text-6xl font-extrabold leading-tight">
        Tandon Geoguesser
      </a>
    </section>

    <!-- Signup Form -->
    <section class="mt-12 mx-auto max-w-4xl flex flex-col items-center gap-6">

      <form method="POST" action="{{ url_for('signup') }}" class="flex flex-col items-center gap-6">

        <p class="text-4xl font-semibold text-gray-600">Enter a Valid Email Address:</p>
        <input
          id="emailInput"
          name="email"
          type="text"
          class="border border-gray-300 rounded-lg p-2 w-64"
          placeholder="Type here..."
          required
        >

        <p class="text-4xl font-semibold text-gray-600">Create a Username:</p>
        <input
          id="usernameInput"
          name="username"
          type="text"
          class="border border-gray-300 rounded-lg p-2 w-64"
          placeholder="Your username..."
          required
        >

        <p class="text-4xl font-semibold text-gray-600">Create a Password:</p>
        <input
          id="passwordInput"
          name="password"
          type="password"
          class="border border-gray-300 rounded-lg p-2 w-64"
          placeholder="••••••"
          required
        >

        <button
          type="submit"
          class="px-8 py-4 rounded-md bg-violet-800 text-white hover:opacity-95 transition"
          id="signBtn"
        >
          Sign Up
        </button>

      </form>

      <p class="text-center text-med text-gray-600">
        Already have an account?
        <a href="{{ url_for('signin') }}" class="text-med text-blue-600 hover:underline font-semibold">
          Sign in here!
        </a>
      </p>

    </section>
  </main>
</body>
</html>
