<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Tandon Geoguesser - Browse Photos</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body style="font-family: 'Comic Sans MS';" class="antialiased bg-gray-50 text-gray-800">
  <main class="mt-44 mx-auto max-w-7xl">
    <section class="flex flex-row justify-center">
      <a href="{{ url_for('home') }}" class="text-6xl font-extrabold leading-tight">
        Tandon Geoguesser
      </a>
    </section>

    <section class="mt-12 mx-auto max-w-4xl">
      <form method="GET" class="flex flex-row items-center gap-6 mb-7 justify-center">
        <label for="building" class="text-3xl font-semibold text-gray-600">Filter by Building:</label>
        <select id="building" name="building" class="border border-gray-300 rounded-lg p-2 text-2xl">
          <option value="">All Buildings</option>
          {% for b in buildings %}
            <option value="{{ b }}" {% if b==selected_building %}selected{% endif %}>{{ b }}</option>
          {% endfor %}
        </select>
        <button type="submit" class="px-5 py-3 rounded-md bg-violet-800 text-white hover:opacity-95 transition text-2xl">Apply</button>
      </form>

      <form method="POST">
        <table class="min-w-full border-4 border-gray-500 text-xl">
          <thead>
            <tr class="bg-gray-400 text-left">
              <th class="border-r-4 border-gray-500 px-4 py-2">Select</th>
              <th class="border-r-4 border-gray-500 px-4 py-2">Building</th>
              <th class="border-r-4 border-gray-500 px-4 py-2">Room</th>
              <th class="border-r-4 border-gray-500 px-4 py-2">Floor</th>
              <th class="px-4 py-2">Date</th>
            </tr>
          </thead>
          <tbody>
            {% for photo in photos %}
            <tr class="{% if loop.index % 2 == 0 %}bg-gray-200{% else %}bg-gray-100{% endif %}">
              <td class="border-r-4 border-gray-500 px-4 py-2">
                <input type="checkbox" name="selected_photos" value="{{ photo.photo_id }}">
              </td>

                
              </td>
              <td class="border-r-4 border-gray-500 px-4 py-2">{{ photo.building }}</td>
              <td class="border-r-4 border-gray-500 px-4 py-2">{{ photo.room }}</td>
              <td class="border-r-4 border-gray-500 px-4 py-2">{{ photo.floor }}</td>
              <td class="px-4 py-2">{{ photo.upload_date }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <div class="flex flex-row justify-end mt-8">
          <button type="submit" class="px-10 py-4 rounded-md bg-violet-800 text-white hover:opacity-95 transition text-2xl">Next</button>
        </div>
      </form>
    </section>
  </main>
</body>
</html>
